*{
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
  }
main{
    display: flex;
    flex-direction: column;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
}
#myLinks{
    display: flex;
    align-items: center;
}
#mobileLinks{
    display: none;
    flex-direction: column;
    align-items: end;
    background-color: rgb(29, 26, 26);
}
.nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
.nav a:hover {
    background-color: #ddd;
    color: black;
}
.nav a.icon{
    display: none;
}
/*bloque imagen-texto para la el inicio*/
.img_text{
    display: flex;
}
.img_text img{
    max-width: 200px;
    padding: 15px;
}
@media screen and (max-width: 600px) {
    .nav #myLinks {display: none;}
    .nav a.icon{display: flex;}
    .img_text{flex-direction: column;}
}







